<html>
    <head>
        <title>F1 Blog Hub</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <!-- navbar -->
       <div class="ui fixed inverted menu">
           <div class="ui container">
               <div class="header item"><i class="blogger icon"></i>F1 Blog Hub</div>
               <a href="/" class="item">Home</a>
               <a href="/blogs/new" class="item">New Post</a>
           </div>   
       </div>

  